:root {
  --bg: #1c1c1c;
  --card: #2b2b2b;
  --text: #e0e0e0;
  --accent: #1793d1;
  --hover: #147ab9;
}

body.light {
  --bg: #ffffff;
  --card: #f4f4f4;
  --text: #222222;
  --accent: #1793d1;
  --hover: #147ab9;
}
